*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #3a3c3e;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.shop-wrap{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.shop-title {
  width: 300px;
  font-size: 30px;
  margin-bottom: 20px;
}
.shop-img {
  width: 300px;
}
.shop-price {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.btn-wrap {
  margin-top: 100px;
  display: flex;
  justify-content:space-between
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  background-color: transparent;
  color: #3a3c3e;
  border-color: transparent;
  border-bottom: 1px solid #3a3c3e;
  cursor: pointer;
}
.active {
  color: red;
}
.default {
  color: #3a3c3e;
}